#home {
    display: flex;
    margin: 0 15vw;
    justify-content: space-between;
    align-items: center;
}

#text-line1,
#text-line2,
#text-line4 {
    color: #c5a5c9;
}

#text-line2 {
    margin: 0;
}

#text-line3 {
    color: #5b2473;
    
}

#contact-button {
    background-color: #5b2473;
    margin-top: 15px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(111, 2, 111);
}

#contact-button a{
    color: #c5a5c9;
    font-weight: bold;
}

#contact-button:hover{
    background-color: #9157ac;
    border: none;
    transition: 1s;
}

#main-section-right{
    margin-top: -30px;

}