.popup-content {
    width:400px;
    height: 150px;
    text-align: center;
    background-color: #c5a5c9;
}

.content p {
    font-size: large;
    font-weight: bolder;
}

#popup-button {
    width: 6rem;
    background-color: #5b2473;
    color: #c5a5c9;
    font-size: large;
    font-weight: bold;
    border-radius: 5%;
}