#menu-dropDown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: hsla(306, 41%, 21%, 0.9);
    width: 100%;
    height: 350px;
    justify-content: space-between;
    padding: 1rem;
}

#menu-dropDown li {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
}

#menu-dropDown a {
    color: #c5a5c9;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

#menu-dropDown a:hover {
    text-shadow: 0 0 15px rgb(246, 246, 246);
}

#menu-resume-button {
    width: 100%;
    background-color: #5b2473;
    color: #c5a5c9;
    font-size: large;
    font-weight: bolder;
    box-shadow: 0 0 20px rgb(111, 2, 111);
    margin-top: 1rem;
}

@media only screen and (min-width: 960px)  {
    #menu-dropDown{
      display: none;
    }
}