#header-container {
    width: 100vw;
    height: 12%;
    background-color: hsla(306, 41%, 21%, 0.314);
    backdrop-filter: blur(100px);
    position: fixed;
    z-index: 1;
}

#header-container #header-section {
    display: flex;
    align-items: center;
}

#header-container #header-section #header-section-heading {
    margin-left: 20px;
    color: #c5a5c9;
}

#header-container #header-section #menu-icon{
    visibility: hidden;
}

#header-section #nav-link-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    left: 37%
}

#header-section #nav-link-list li {
    width: 7rem;
}

#header-section #nav-link-list a {
    color: #c5a5c9;
    font-size: medium;
    font-weight: bold;
}


#header-section #nav-link-list a:hover,
#header-container #header-section #header-section-heading:hover {
    text-shadow: 0 0 15px rgb(246, 246, 246);
}

#header-section #nav-link-list li.active {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    text-underline-offset: .75em;
}

#header-section #resume-button {
    background-color: #5b2473;
    color: #c5a5c9;
    border-radius: 20px;
    width: 10rem;
    box-shadow: 0 0 20px rgb(111, 2, 111);
    font-weight: bold;
    letter-spacing: 0.05cm;
}

#header-section #resume-button:hover {
    background-color: #9157ac;
    border: none;
    transition: 1s;
}

/* Media Queries */
@media only screen and  (max-width:1080px) {
    #header-container #header-section {
        justify-content: space-between;
    }
    #header-container #header-section #menu-icon{
        visibility: visible;
        margin-right: 40px;
    }
    #header-section #nav-link-list {
        display: none;
    }
}

@media only screen and (min-width:1080px) and (max-width:1200px) {
    #header-section #nav-link-list {
        left: 30%
    }
    #header-section #nav-link-list a {
        width: 4rem;
    }
    #header-section #resume-button {
        width: 6rem;
        font-weight: 700;
        letter-spacing: 0cm
    }
}