#header-container {
    width: 100vw;
    height: 5rem;
    background-color: hsla(306, 41%, 21%, 0.314);
    backdrop-filter: blur(100px);
    position: fixed;
    z-index: 1;
}

#header-container #header-section {
    display: flex;
    align-items: center;
}

#header-container #header-section #header-section-heading {
    margin-left: 20px;
    color: #c5a5c9;
}


#header-section #nav-link-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    left: 45%
}

#header-section #nav-link-list li {
    width: 7rem;
}

#header-section #nav-link-list a {
    color: #c5a5c9;
    font-size: medium;
    font-weight: bold;
}


#header-section #nav-link-list a:hover,
#header-container #header-section #header-section-heading:hover {
    text-shadow: 0 0 15px rgb(246, 246, 246);
}

/* #header-section #nav-link-list a.active {
        text-decoration: underline;
        text-decoration-color: black;
        text-decoration-thickness: 2px;
        text-underline-offset: .75em;
 } */

#header-section #resume-button {
    background-color: #5b2473;
    color: #c5a5c9;
    border-radius: 20px;
    width: 10rem;
    box-shadow: 0 0 20px rgb(111, 2, 111);
    font-weight: bold;
}

#header-section #resume-button:hover {
    background-color: #9157ac;
    border: none;
    transition: 1s;  
}
