#about {
    display: flex;
    margin: 30px 0px 20px 0px;
}

#about #about-details-section {
    width: 50%;
    height: 450px;
    padding: 70px;
}

#about #about-details-section h2 {
    color: #5b2473;
}

#about #about-details-section p {
    color: #c5a5c9;
    font-weight: 600;
    line-height: 2rem;
}

#about #about-details-section #skill-img-container {
    width:25vw;
    display: flex;
    justify-content: space-around;
}

#about #about-profilePic-section {
    padding: 70px;
}

#about #about-profilePic-section img {
    border-radius: 50%;
}
