#footer {
    height: 60px;
    background-color: hsla(306, 41%, 21%, 0.314);
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#footer p{
    color: #c5a5c9;
    font-weight: 600;
}

#footer-content{
    display: flex;
    align-items: center;
}
